<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @professional.full_name %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
