<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Hola, usuario <%= current_user.name%></h5>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Pagina principal', root_path,  class: "btn btn-light justify-content-center" %>
    <%= link_to 'Sign out', logout_path, method: "delete" , class: "btn btn-secondary float-end" %>
  </div>
</nav>