<%= render "layouts/navbar.html.erb"%>

<h1>Editando datos del usuario</h1>

<%= render 'form', user: @user %>

<%= link_to 'Volver', users_path, class: "btn btn-secondary", style: "margin-left: 25px; margin-top:10px"   %>
